
body {
    min-height: 100vh;
    background-image: url("../love.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


.note-5 {
    text-align: center;          
    font-size: 22px;             
    color: #060771;
    margin: 20px 0 30px 0;
}


/* Romantic movie & webseries */

.five-class {
    color: rgb(0, 0, 0);
    display: flex;                
    justify-content: space-between; 
    align-items: flex-start;     
    padding: 20px;
    height: 70px;

}

.m5-image {
    width: 150px;
    height: 100px;
    background-image: url("../rom.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 10px;
    left: 0;
    animation: moveX 6s linear infinite alternate,
               moveY 4s linear infinite alternate;
}


@keyframes moveX {
    0% {
        left: 0;
    }
    100% {
        left: calc(100% - 120px); 
    }
}


@keyframes moveY {
    0% {
        top: 0;
    }
    100% {
        top: calc(100% - 80px); 
    }
}



#eight{
    font-size: 40px;
    font-weight: bold;
    margin-left: 10px;
}

#nine{
     font-size: 40px;
     font-weight: bold;
}